# Ignorar archivos de migraciones de Django
*/migrations/
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignorar __pycache__ en todas las apps
*/__pycache__/

# Otros archivos comunes de Python
*.pyc
*.pyo
*.pyd
.Python

# Entornos virtuales
.venv/
venv/
ENV/

# Base de datos SQLite
*.sqlite3

# Archivos de configuración locales
.env
.env.*

# Archivos de VSCode
.vscode/

# Modelos locales grandes
llms/
